# db server credentials etc.
/database_server/config/

# streamlit secrets file
/streamlit_app/.streamlit/secrets.toml

# compilation-related files (in any subfolders)
__pycache__/
*.pyc

# folders only in my (JJ) personal repo
/related/
/archive/
/test_folder/

